<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRUD Task</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
</head>

<body>


    @Html.Partial("_NavBar")


    <main>
        @RenderBody()
    </main>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Main.js")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)


</body>


</html>
